.env
.env.*
!.env.example

.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
uvicorn-test*.log

dist/
build/
*.db
*.sqlite
*.sqlite3
*.egg-info/
